bin/
obj/
.vs/
.idea/
TestResults/
coverage-report/
coverage/
/GameApp/GameApp.Application/DB_Data/gameapp.db-shm
/GameApp/GameApp.Application/DB_Data/gameapp.db-wal
/GameApp/GameApp.Application/DB_Data/gameapp.db
/GameApp/GameApp.Application/wwwroot/drawings/*.png